* {
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  font-family: omnes, sans-serif;
  font-size: 14px;
  line-height: 2em;
}

#landing {
  height: 100vh;
}

#frame-container {
  height: calc(200vh + 700px);
}

#image-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background-image: url("images/frames/frame 1.jpg");
  background-size: cover;
}

#text-container {
  position: sticky;
  top: 0;
  padding: 25% 0;
}

.heading {
  text-align: center;
  letter-spacing: 25px;
  font-family: playfair-display, serif;
  font-size: 32px;
  line-height: 2em;
}

.block {
  padding: 25% 0;
}

.block2 {
  padding: 10% 0;
}

.black-container {
  background-color: #000000;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.border-black {
  border-left: solid 1px #000000;
}

.border-white {
  border-left: solid 1px #FAFAFA;
}

@media (max-width: 991.98px) {
  * {
    font-size: 12px;
  }

  .border-black, .border-white {
    border: none;
  }
}

#toggle-matrix {
  cursor: pointer;
}

@font-face {
  font-family: omnes;
  src: url(fonts/omnes.ttf);
}

@font-face {
  font-family: playfair-display;
  src: url(fonts/playfair-display.ttf);
}