* {
  text-align: center;
  letter-spacing: 2px;
  color: #000000;
  font-family: omnes, sans-serif;
  font-size: 14px;
  line-height: 2em;
}

#landing {
  height: 100vh;
}

#frame-container {
  height: calc(200vh + 700px);
}

#image-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background-image: url("images/frames/frame 1.jpg");
  background-size: cover;
}

#text-container {
  position: sticky;
  top: 0;
  padding: 25% 0;
}

.heading {
  text-align: center;
  letter-spacing: 25px;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 2em;
}

.heading-white {
  color: #FAFAFA;
}

.subheading-white {
  color: #FAFAFA;
}

.block {
  padding: 25% 0;
}

.line-white {
  border-left: solid 1px #000000;
}

.line-black {
  border-left: solid 1px #FAFAFA;
}

.block2 {
  padding: 25% 0 5% 0;
}

.block3 {
  padding: 75% 0 5% 0;
}

.options {
  padding-bottom: 25%;
}

button a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

button a:hover {
  color: inherit;
}

.selected-white {
  color: #000000;
  background-color: #FAFAFA;
}

.selected-black {
  color: #FAFAFA;
  background-color: #000000;
}

.black-container {
  background-color: #000000;
}

.list {
  padding: 5% 0;
}

@media (min-width: 991.98px) {
  .line-white {
    border-left: solid 1px #FAFAFA;
  }

  .line-black {
    border-left: solid 1px #000000;
  }
}

@font-face {
  font-family: omnes;
  src: url(fonts/omnes.ttf);
}